# Maven
/target/
!.mvn/wrapper/maven-wrapper.jar

# Quarkus
/.quarkus/
.quarkus/

# VS Code
.vscode/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# IDEs
*.iml
.idea/
*.ipr
*.iws

# Node (caso use)
/node_modules/

# Build
/dist/
build/

# Environment
.env
.env.*

# Docker
*.local
docker-compose.override.yml

# Others
*.class
*.jar